html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f151f;
  font-family: 'Times New Roman', Times, serif;
  color: #222;
}
/* font size */
.hero-banner, .socialmedia{
  font-size: 50px;
}

h2{
  font-size: 46px;
}

h3{
  font-size: 40px;
}

.copyright, .backtotop{
  font-size: 30px;
}

/* herobanner */
.hero-banner {
  position: relative;
  background: url('../media/herobanner.png') center /cover no-repeat;
  background-size: cover;
  margin: 0 0 50px 0;;
  padding: 100px;
  height: 700px;
  text-align: center;
}

.hero-banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 0 0/0.1);
  z-index:0;
}

.hero-banner * {
  position: relative;
  z-index: 1;
  font-weight: 600;
}

.hero-banner h1, .hero-banner p {
  margin: 5px 0;
}

.hero-banner h1 {
  color: #a5ec0c;
}

.hero-banner p {
  color: #ff9999;
}


/* project */
.project  {
  text-align: center;
  color: #a5ec0c;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px;
  border: 1px dotted rgb(90, 90, 203);
  border-radius: 10px;
  padding: 10px;
  color: #ff9999;
}

.projectOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectOne img {
  width: 200px;
  height: 200px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* about me */
.aboutme {
  text-align: center;
  color: #a5ec0c;
}

.aboutme-container {
  color: #ff9999;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px;
}
/* contact me */
.contactme {
  text-align: center;
  color: #a5ec0c;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff9999;
  margin: 20px;
}

.input[type="text"], .input[type="email"], .textarea {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: #ff9999;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* footer */
.socialmedia:hover ~ .backtotop, 
.copyright:hover ~ .backtotop{
  opacity: 1;
  pointer-events: auto;
}

.socialmedia {
  text-align: center;
  margin: 40px;
  color: #a5ec0c;
}

.copyright {
  text-align: center;
  color: #f7f7f7;
}

.backtotop {
  opacity: 0;
  pointer-events: none;
  transition: ease-in-out .3s ease;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.backtotop a {
  text-decoration: none;
  color: #ffffff;
  background-color: #222222;
  padding: 10px;
  border-radius: 50%;
}

.backtotop a:hover {
  transform: scale(1.05);
  color: #0099ff;
  background-color: #ffa500;
  padding: 10px;
  border-radius: 50%;
}

/* blur animation */
.blur {
  display:inline-block;
  position: relative;;
  animation: flicker 10s linear infinite;
  text-shadow: 0 0 2px #00f, 00 8px rgb(16, 184, 78);
}

@keyframes flicker {
    0% {
        filter: blur(8px) contrast(250%);
        transform: scale(1.3) translate(0, 0);
    }
    5% {
        filter: blur(5px) contrast(200%);
        transform: scale(1.2) translate(-5px, 3px);
    }
    10% {
        filter: blur(3px) contrast(180%);
        transform: scale(1.1) translate(3px, -3px);
    }
    15% {
        filter: blur(2px) contrast(140%);
        transform: scale(1.05) translate(-3px, 2px);
    }
    20% {
        filter: blur(1px) contrast(120%);
        transform: scale(1.02) translate(1px, -1px);
    }
    100% {
        filter: blur(0px) contrast(100%);
        transform: scale(1) translate(0, 0);
    }
}

/* shake animation */
.shadow {
  display:inline-block;
  position: relative;;
  animation: shadow 15s linear infinite;
}

@keyframes shadow {
    0% {
        filter: hue-rotate(90deg) contrast(250%);
        transform: scale(1.3) translate(0, 0);
    }
    10% {
        filter: hue-rotate(180deg) contrast(200%);
        transform: scale(1.2) translate(-10px, 5px);
    }
    20% {
        filter: hue-rotate(360deg) contrast(180%);
        transform: scale(1.1) translate(10px, -5px);
    }
    30% {
        filter: hue-rotate(180deg) contrast(140%);
        transform: scale(1.05) translate(-5px, 10px);
    }
    40% {
        filter: hue-rotate(90deg) contrast(120%);
        transform: scale(1.02) translate(1px, -1px);
    }
    100% {
        filter: hue-rotate(360deg) contrast(100%);
        transform: scale(1) translate(0, 0);
    }
}

