body {
  background-color: #0f151f;
  font-family: 'Times New Roman', Times, serif;
  color: #222;
}

.hero-banner {
  position: relative;
  background: url('../media/herobanner.gif') center /cover no-repeat;
  background-size: cover;
  margin: 0 0 50px 0;;
  padding: 100px;
  height: 600px;
  text-align: center;
  color: #a5ec0c;
  font-size: 50px;
}

.hero-banner::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 0 0/0.1);
  z-index:0;
}

.hero-banner * {
    position: relative;
    z-index: 1;
    font-weight: 600;
}